body {
  background-color: rgb(255, 253, 253);
}
.nav-link {
  color: rgb(243, 164, 197);
}
.btn {
  color: rgb(243, 164, 197);
}

#logo {
  border-radius: 50px;
  height: 60px;
  width: 80px;
}
#first-section {
  padding-top: 80px;
}
#second-section {
  padding-top: 40px;
}
.p-3 {
  color: antiquewhite;
}
button {
  border: none;
  background-color: rgb(255, 253, 253);
}

.iconss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pricess {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.like {
  fill: black;
  height: 25px;
  width: 25px;
}
.btn-like {
  color: red;
}
